
h1 {
    color: #ff8c66 ;
    font-style: georgia;
}
p {
    color: #ff8c66 ;
    font-style: georgia;
}
ul {
    color: #ff8c66 ;
    font-style: georgia;
}
ol {
    color: #ff8c66; 
    font-style: georgia;
}
body {
    background-color:#b32d00 ;
}
a {
    color: #ffc266;
}
a:hover {
    color:#ffe0cc;
}
